<table style="width: 550px; border-width: 1px; border-color: #c0c0c0; background-color: #ffffff; border-collapse: collapse; height: 632px;">
 <tbody>
  <tr>
   <td style="width: 100%; border: 1px solid #ffffff;">
    <table style="width: 550px; border-color: #c0c0c0; border-collapse: collapse; height: 600px; border-width: 0px;">
     <tbody>
      <tr>
       <td style="width: 100%; border-image: initial; border-color: #000011;">
        <table style="height: 50px; width: 550px; border-color: #000000; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
         <tbody>
          <tr>
           <td style="width: 542px; border-color: #000000;">
            <tbody>
             <tr style="text-align: center;">
              <td style="width: 15%; background-color: #FFFFFF; border-color: #000000;">
               <span style="font-family: Arial;" >
                <strong>
                 <span style="color: #FF6C00; font-size: 26pt;"> <strong>COMPANY NAME</strong></span>
                </strong>
               </span>
              </td>
	   			  </tr>
	        </tbody>
	       </td>
        </tr>
	     </tbody>
    	</table>
	    <table style="height: 54px; width: 50px; border-color: #000000; background-color: #ffffff; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
     	</table>
	    <table style="height: 323px; width: 550px; border-color: #000000; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
   	   <tbody>
      	<tr>
         <td style="width: 550px; background-color: #ffffff; border-color: #000000;">
          <table style="width: 530px; border-color: #000000; background-color: #ffffff; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto; height: 423px;">
           <tbody>
             <tr style="height: 61px;">
              <td style="width: 477px; text-align: left; background-color: #00994c; height: 61px; border-color: #000000;" colspan="2">
                <p style="text-align: center;">
                  <span style="color: #ffffff; font-size: 10pt; font-family: Arial;">
                    <strong>
                      <span style="font-size: 16pt;">Resolved</span>
                    </strong>
                  </span>
                </p>
                <p style="text-align: center;">
                  <span style="font-family: Arial;">
                    <strong>
                      <span style="font-size: 12pt;">
                        <span style="color: #ffffff;">{TRIGGER.SEVERITY}: {TRIGGER.NAME}</span>
                      </span>
                    </strong>
                  </span>
                </p>
              </td>
            </tr>
            <tr style="height: 24px;">
              <td style="width: 477px; text-align: left; background-color: #9CCC65; height: 24px; border-color: #000000;" colspan="2">
                <div style="text-align: center;">
                  <span style="font-size: 12pt; font-family: Arial;">
                    <strong>TRIGGER INFORMATION</strong>
                  </span>
                </div>
              </td>
            </tr>
            <tr style="height: 217px; text-align: left;">
              <td style="width: 165px; text-align: left; border-color: #000000;">
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Status:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Problem resolved:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Problem duration:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Severity:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Item Key:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                <strong>
                  <span style="font-family: Arial;font-size: 10pt;">Last Value:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Description:</span>
                  </strong>
                </p>
               </td>
                <td style="width: 458px; text-align: left; border-color: #000000;">
                  <p style="text-align: left;">
                    <span style="font-family: Arial;font-size: 10pt;">{TRIGGER.STATUS}</span>
                  </p>
                  <p style="text-align: left;"> 
                    <span style="font-family: Arial;font-size: 10pt;">at {EVENT.RECOVERY.TIME} on {EVENT.RECOVERY.DATE} </span>
                  </p>
                  <p style="text-align: left;">
                    <span style="font-family: Arial;font-size: 10pt;">{EVENT.DURATION}</span>
                  </p>
                  <p style="text-align: left;">
                    <span style="font-family: Arial;font-size: 10pt;">{TRIGGER.SEVERITY}</span>
                  </p>
                  <p style="text-align: left;">
                    <span style="font-family: Arial;font-size: 10pt;">{ITEM.KEY1}</span>
                  </p>
                  <p style="text-align: left;">
                    <span style="font-family: Arial;font-size: 10pt;">{ITEM.VALUE1}</span>
                  </p>
                  <p style="text-align: left;">
                    <span style="font-family: Arial;font-size: 10pt;">{TRIGGER.DESCRIPTION}</span>
                  </p>
                </td>
              </tr>
              <tr style="height: 23px;">
                <td style="width: 477px; background-color: #9CCC65; text-align: center; height: 18px; border-color: #000000;" colspan="2">
                  <span style="font-size: 12pt; font-family: Arial;">
                    <strong>HOST INFORMATION</strong>
                  </span>
                </td>
              </tr>
              <tr style="height: 128px; text-align: left;">
                <td style="width: 165px; text-align: left; border-color: #000000;">
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Name:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Uptime:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">CPU:</span>
                  </strong>
                </p>
                <p style="text-align: left;">
                  <strong>
                    <span style="font-family: Arial;font-size: 10pt;">Memory:</span>
                  </strong>
                </p>
              </td>
              <td style="width: 358px; text-align: left; border-color: #000000;">
                <p style="text-align: left;">
                  <span style="font-family: Arial;font-size: 10pt;">{HOST.NAME1} ({HOST.IP1})</span>
                </p>
                <p style="text-align: left;">
                  <span style="font-family: Arial;font-size: 10pt;">{{HOST.HOST}:system.uptime.last()}</span>
                </p>
                <p style="text-align: left;">
                  <span style="font-family: Arial;font-size: 10pt;">{{HOST.HOST}:system.cpu.util.last()}</span>
                </p>
                <p style="text-align: left;">
                  <span style="font-family: Arial;font-size: 10pt;">{{HOST.HOST}:vm.memory.utilization.last()})</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table style="width: 530px; border-color: #000000; background-color: #646d7e; border-collapse: collapse; height: 27px; border-width: 0px; margin-left: auto; margin-right: auto;">
  <tbody>
    <tr>
      <td style="width: 100%; text-align: center; border-color: #000000;">
        <span style="color: #ffffff; font-size: 10pt; font-family: Arial;"> Copyright© 2025 </span><br>
          <span style="color: #ffffff; font-size: 7pt; font-family: Arial;"> by Vadim Tolstorozhikh </span>
        </td>
      </tr>
    </tbody>
  </table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
